
@import "leaflet/dist/leaflet.css";

body {
  direction: rtl;
  text-align: right;
}

.MuiButtonBase-root,
.MuiTypography-root,
.MuiInputBase-root,
.MuiFormLabel-root,
.MuiTableCell-root,
.MuiInputLabel-root,
.MuiMenuItem-root,
.MuiFormControl-root,
.MuiAlert-root,
.MuiDialog-paper,
.MuiDialogTitle-root,
.MuiDialogContent-root,
.MuiButton-root,
.MuiListItemText-root,
.MuiListItem-root {
  text-align: right;
}


.MuiFormControl-root,
.MuiTextField-root,
.MuiAutocomplete-root {
  direction: rtl;
}

